.ham{
    position: absolute;
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/images/open.png");
    background-size: 100%;

}
.showClose{
    background-image: url("/images/close.png");
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(158, 177, 177);
    width: 100vw;
    height: 100vh;
    color: rgb(48, 48, 48);
    display: none;
}
.showNav{
    display: block;
}
.menuLink{
    text-decoration: none;
    color: rgb(48, 48, 48);
    font-size: larger;
}